*
!.gitignore
!/etc/
!/etc/X11/
!/etc/X11/xorg.conf.d/
!/etc/X11/xorg.conf.d/**
!/etc/X11/xorg.conf
!/etc/dinit.d/
!/etc/dinit.d/config/
!/etc/dinit.d/config/**
!/etc/dinit.d/xray
!/etc/dinit.d/root-ro
!/etc/dinit.d/net-eth0
!/etc/xray/
!/etc/xray/run
!/etc/doas.conf
!/etc/resolv.conf
!/etc/mdev.conf
!/etc/sysctl.conf
!/home/
!/home/xlzs0/
!/home/xlzs0/.config/
!/home/xlzs0/.config/gtk-3.0/
!/home/xlzs0/.config/gtk-3.0/settings.ini
!/home/xlzs0/.config/gtk-4.0/
!/home/xlzs0/.config/gtk-4.0/settings.ini
!/home/xlzs0/.config/chromium/
!/home/xlzs0/.config/chromium/Local\ State
!/home/xlzs0/.config/micro/
!/home/xlzs0/.config/micro/plug/
!/home/xlzs0/.config/micro/plug/tcc/
!/home/xlzs0/.config/micro/plug/tcc/tcc.lua
!/home/xlzs0/.config/micro/colorschemes/
!/home/xlzs0/.config/micro/colorschemes/**
!/home/xlzs0/.config/micro/settings.json
!/home/xlzs0/.Xdefaults
!/home/xlzs0/.Xresources
!/home/xlzs0/.asoundrc
!/home/xlzs0/.clang-format
!/home/xlzs0/.xinitrc
!/home/xlzs0/.mkshrc
!/home/xlzs0/.nanorc
!/home/xlzs0/.profile
!/home/xlzs0/create_efi_stub
!/home/xlzs0/tinystatus
!/home/xlzs0/pkgs/
!/home/xlzs0/pkgs/dbus-stub/
!/home/xlzs0/pkgs/dbus-stub/PKGBUILD
!/home/xlzs0/pkgs/dbus-stub/dbus.c
!/home/xlzs0/pkgs/dbus-stub/dbus.ver
!/home/xlzs0/pkgs/dwm/
!/home/xlzs0/pkgs/dwm/PKGBUILD
!/home/xlzs0/pkgs/dwm/config.h
!/home/xlzs0/pkgs/dwm/focusonclick.diff
!/home/xlzs0/pkgs/st/
!/home/xlzs0/pkgs/st/PKGBUILD
!/home/xlzs0/pkgs/st/config.h
!/home/xlzs0/pkgs/slock/
!/home/xlzs0/pkgs/slock/PKGBUILD
!/home/xlzs0/pkgs/slock/config.h
!/home/xlzs0/pkgs/pam-stub/
!/home/xlzs0/pkgs/pam-stub/PKGBUILD
!/home/xlzs0/pkgs/pam-stub/Makefile
!/home/xlzs0/pkgs/pam-stub/libpam/
!/home/xlzs0/pkgs/pam-stub/libpam/**
!/home/xlzs0/pkgs/pam-stub/pkgconfig/
!/home/xlzs0/pkgs/pam-stub/pkgconfig/**
!/home/xlzs0/pkgs/no-init-logind/
!/home/xlzs0/pkgs/no-init-logind/PKGBUILD
!/home/xlzs0/pkgs/no-initramfs/
!/home/xlzs0/pkgs/no-initramfs/PKGBUILD
!/home/xlzs0/pkgs/no-udev/
!/home/xlzs0/pkgs/no-udev/PKGBUILD
!/home/xlzs0/pkgs/no-udev/no-udev.install
!/home/xlzs0/pkgs/no-xlibre-libinput/
!/home/xlzs0/pkgs/no-xlibre-libinput/PKGBUILD
!/home/xlzs0/pkgs/sbase-select/
!/home/xlzs0/pkgs/sbase-select/PKGBUILD
!/home/xlzs0/pkgs/toybox/
!/home/xlzs0/pkgs/toybox/PKGBUILD
!/home/xlzs0/pkgs/toybox/toybox.install
!/home/xlzs0/pkgs/toybox/groupmod.c
!/home/xlzs0/pkgs/toybox/mount-scanall.patch
!/home/xlzs0/pkgs/toybox/passwd.patch
!/home/xlzs0/pkgs/toybox/usermod.c
!/home/xlzs0/pkgs/mksh/
!/home/xlzs0/pkgs/mksh/PKGBUILD
!/home/xlzs0/pkgs/mksh/mksh.install
!/home/xlzs0/pkgs/mdevd/
!/home/xlzs0/pkgs/mdevd/PKGBUILD
!/home/xlzs0/pkgs/opensysusers/
!/home/xlzs0/pkgs/opensysusers/PKGBUILD
!/home/xlzs0/pkgs/opensysusers/20-opensysusers.hook
!/home/xlzs0/pkgs/opensysusers/handle-locked-users.patch
!/home/xlzs0/pkgs/opensysusers/opensysusers.install
!/home/xlzs0/pkgs/opentmpfiles/
!/home/xlzs0/pkgs/opentmpfiles/PKGBUILD
!/home/xlzs0/pkgs/opentmpfiles/21-tmpfiles.hook
!/home/xlzs0/pkgs/opentmpfiles/opentmpfiles.install
!/home/xlzs0/pkgs/gettext-tiny/
!/home/xlzs0/pkgs/gettext-tiny/PKGBUILD
