---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 140
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
NamespaceIndentation: All
PointerAlignment: Left
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
